<header id='navBar'>
    <h1 id='title'> Photo App</h1>
    <ul id="navList">
        {% if user %}
            <li>
                {% if request.url_rule.endpoint == 'api_docs' %}
                    <a href="/">Home</a>
                {% else %}
                    <a href="/api">API Docs</a>
                {% endif %}
            </li>
            <li><span id='loggedInUser'>{{ user.username }}</span></li>
            <li><a id='signOutBtn' href="/logout">Sign out</a></li>
        {% endif %}
    </ul>
</header>
