<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Photo App</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    </head>
    <body>

        {% include 'includes/navbar.html' %}

        <main id='mainContent'>
            <section id='following'>
                {% include 'includes/stories.html' %}
                {% include 'includes/posts.html' %}
                
                    
                    
                
                

            </section>
            {% include 'includes/suggestions.html' %}
        </main>
    </body>
</html>

<!-- To make it easy to add alternative text, I would add an input for alternative text right below the caption input when uploading images. Or once they have posted an image, I would add an option to add alt text in the 3 dots of a post. -->